<div class="paint">
    <div class="tabs">
        <div ng-class="tab_class('drawing')" ng-click="show_drawing = true">Drawing</div>
        <div ng-class="tab_class('manifest')" ng-click="show_drawing = false">Manifest</div>
    </div>
    <div class="drawing tab-panel" ng-show="show_drawing">
        <canvas class="paint-canvas" style="border: 1px solid black">

        </canvas>
        <div class="controls">
            <div class="draw_buttons">
                <button class="rectangle" title="add rectangle" ng-click="add_rectangle()"></button>
                <button class="circle" title="add oval" ng-click="add_oval()"></button>
                <button class="triangle" title="add triangle" ng-click="add_triangle()"></button>
                <button ng_class="draw_button_class('polygon')" title="add polygon" ng-click="add_polygon()"></button>
                <span class="poly_buttons" ng-show="show_poly_buttons()">
                    <button ng_class="draw_button_pp_class('add')" title="add poly point"
                            ng-click="add_polygon_point()"></button>
                    <button ng_class="draw_button_pp_class('delete')" title="delete poly point"
                            ng-click="delete_polygon_point()"></button>
                    <button ng_class="draw_button_pp_class('move')" title="move poly point"
                            ng-click="move_polygon_point()"></button>
                    <button class="done_poly" ng-click="close_poly()">close poly</button>
                </span>
                <span class="active_shape_btns">
                    <button class="move_up" title="move up" ng-show="show_move('up')" ng-click="move_up()"></button>
                    <button class="move_down" title="move down" ng-show="show_move('down')" ng-click="move_down()"></button>
                    <button class="rotate" title="rotate" ng-click="rotate()"></button>
                    <button class="clone" title="clone" ng-click="clone()"></button>
                </span>
            </div>
            <div class="color">
                <label for="colorInput">Color</label>
                <input id="colorInput" class="input input-small" type="text" ng-model="current_color"/>
                <button class="btn" ng-click="choose_color()">Choose</button>
            </div>
        </div>
    </div>

    <div class="manifest tab-panel" ng-hide="show_drawing">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Parent</th>
                <th>Type</th>
                <th>Name</th>
                <th>L</th>
                <th>T</th>
                <th>R</th>
                <th>B</th>
                <th>Rot</th>
                <th>Color</th>
            </tr>
            </thead>
            <tr ng-repeat="shape in paint_manager.shapes">
                <td><input type="checkbox" name="group[]" ng-model="shape.checked"/></td>
                <td>{{ shape.get_parent(1) }}</td>
                <td>{{ shape.type }}</td>
                <td>{{ shape.get_name() }}</td>
                <td>{{ shape.get_left() }}</td>
                <td>{{ shape.get_top() }}</td>
                <td>{{ shape.get_right() }}</td>
                <td>{{ shape.get_bottom() }}</td>
                <td>{{ shape.get_rotation() }}&deg;</td>
                <td><span ng-hide="shape.type == 'group'">
                    <span class="swatch" style="background-color: {{ shape.get_color() }}"></span>{{ shape.get_color() }}
                </span>
                    <button ng-show="shape.type=='group'" ng-click="shape.ungroup()">Ungroup</button>

                </td>
            </tr>
        </table>
        <button ng-click="group_checked()">Group Checked</button>
    </div>
</div>